{# component/_form.html.twig #}

<form action="" method="POST">
        <p>
            <label for="login" class="form-label">Nom : </label>
            <input type="text" name="login" id="login" required>
        </p>
        <p>
            <label for="password" class="form-label">Mot de passe: </label>
            <input type="password" name="password" id="password" required>
        </p>
        <p>
            <label for="msg">Message : </label>
            <textarea id="msg" name="user_message" required></textarea>
        </p>
        <p>
            <input type="submit" value="OK" class="btn btn-primary btn-lg">
        </p>
</form>