{# component/_navbar.html.twig #}

    <nav>
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#anotherlink"></a>Another link</li>
            <li><a href="#anotherlink2">Another link 2</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>