<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bonjour</title>
    <link rel="icon" href="/assets/images/favicon.png">
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body>
    <h1>Hello {{ name }} ! You are {{age}} years old!<br>
        {% if age > 15 %}
        You are over the age of 15!<br><br>
        {% endif %}

        {% for user in users %}
            {{ user.name }} is {{ user.age }} years old.<br><br>
        {% endfor %}
    </h1>

</body>
</html>