{#home.html.twig #}
{% extends 'layout.html.twig' %}

{% block title %}
    {{ parent() }} - Home
{% endblock %}

{% block content %}

    <h1>Hello {{ name }}</h1>

    {% if age > 15 %}
    You are over the age of 15!<br><br>
    {% endif %}

    {% for user in users %}
        {{ user.name }} is {{ user.age }} years old.<br><br>
    {% endfor %}
    
{% endblock %}
