{#products.html.twig #}
{% extends 'layout.html.twig' %}

{% block title %}
    {{ parent() }} - Products
{% endblock %}

{% block content %}
<h3> In my array we can find : <br></h3> 
    <p>
            <ul>{% for product in products %}
                {% if loop.index0 == 3 %}
                <p></p>
                {% endif %}
                Instrument : {{ product}}
            {% endfor %}</ul>

    </p>
{{ dump(products) }}
    
{% endblock %}