{# component/_footer.html.twig #}
<footer>
    <p>
        Ce site a été réalisé par {{author}}.
    </p>
    <p>
        Pour nous contacter : <a href="mailto:{{contactEmail}}">{{contactEmail}}</a>
    </p>

</footer>